.DS_Store
.build/
.swiftpm/
Package.resolved
temp_auto_push.bat
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.gitignore
branch_structure.json
